{% extends ['@ibexadesign/layout.html.twig', '@ibexadesign/ui/layout.html.twig'] %}

{% block breadcrumbs %}
    {% include ['@ibexadesign/parts/breadcrumbs.html.twig', '@ibexadesign/ui/breadcrumbs.html.twig'] with {items: [
        { value: 'breadcrumb.admin' | trans(domain='messages') | desc('Admin') },
        { value: 'ibexa_custom_settings.menu.label' | trans }
    ]} %}
{% endblock %}

{% block header %}
    {% include ['@ibexadesign/parts/page_title.html.twig', '@ibexadesign/ui/page_title.html.twig'] with {
        title: 'ibexa_custom_settings.menu.label' | trans,
        iconName: 'contentlist'
    } %}
{% endblock %}

{% block content %}
    <div class="container ibexa-container">
        <div class="ibexa-table-header">
            <strong class="ibexa-table-header__headline">Tous les paramètres personnalisés</strong>
        </div>

        <form action="" method="get" class="form-group form-inline my-4">
            <select name="key" id="key" class="form-control" aria-label="Filter par clé">
                <option value="" selected>Filter par clé</option>
                {% for setting_key in settings_keys %}
                    <option value="{{ setting_key }}" {{ app.request.query.get('key') == setting_key ? 'selected' : '' }}>
                        {{ setting_key }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrer" class="btn btn-primary mt-2">
        </form>

        {% for location_id, settings in locations_settings %}
            <div class="mb-4">
                <div class="mb-2 ml-3">
                    <strong>
                        <a href="{{ path('ibexa.url.alias', {'locationId': location_id}) }}#ibexa-tab-location-view-ibexa-settings#tab" class="text-primary">
                            {{ ibexa_content_name(ez_get_location(location_id).content) }}
                        </a>
                    </strong>
                    <small class="d-block">ID : {{ location_id }}</small>
                </div>

                <table class="ibexa-table table">
                    <thead>
                    <tr class="ibexa-table__head-row">
                        <th class="ibexa-table__header-cell">Clé</th>
                        <th class="ibexa-table__header-cell">Valeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if settings is empty %}
                        <tr>
                            <td class="ibexa-table__cell" colspan="2">Aucun paramètre hérité.</td>
                        </tr>
                    {% endif %}
                    {% for setting in settings %}
                        <tr class="ibexa-table__row">
                            <td class="ibexa-table__cell">
                                <input type="text" class="form-control" value="{{ setting.key }}" aria-label="Clé" disabled readonly>
                            </td>
                            <td class="ibexa-table__cell">
                                <input type="text" class="form-control" value="{{ setting.value }}" aria-label="Valeur" disabled readonly>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}